*{
    box-sizing: border-box;
    font-family: Antonio;
    /*margin: auto;*/
}
main{
    
}
.boxEmail{
    border-radius: 8px;
    background-color: lightgray;
    align-self: center;
    display: inline-block;
    border-left: 5%;
    border-right: 5%;
 
}
.email{
    width: 98%;
    background-color: transparent;
    border: transparent;
    border-top: 0px;
    border-bottom: 0px;
    
    

}
.oggetto{
    font-weight: bold;
    width: 20%;
    display: inline-block;
    text-align: left;
    color: black;

}
.testoEm{
    width: 75%;
    display: inline-block;
    text-align: left;
    color: rgb(73, 73, 73);
}

footer{
    text-align: left;   
}


body{
    color: antiquewhite;
    background-image: url(forest.jpeg);
    text-align: center;
}